body
{
	font-family: Arial;
	text-align: center;
	width: 80%;
	margin: auto;
}
video
{
	margin-top: 2%;
	width: 50%;
	height: 50%;
}
#ratingContainer
{
	display: flex;
	justify-content: center;
	font-size: 32px;
	line-height: 1;

}
#reviewsContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	margin-left: 1%;
	line-height: 1;
}
#videoContainer
{
	display: flex;
	justify-content: center;
	margin-bottom: 4%;
}
#textContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2%;
	font-size: 16px;
	text-align: justify;
}
#mainContainer 
{
    display: flex;
    gap: 2%;
	justify-content: center;
}
.photoContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.photoContainer img 
{
    max-width: 250px; 
    max-height: 250px;
	object-fit: scale-down;
}

.photoContainer p 
{
    font-size: 16px;
}