body
{
	font-family: Arial;
	text-align: center;
	width: 80%;
	margin: auto;
}
h2
{
	margin-top: 6%;
	text-align: left;
}
h3
{
	text-align: left;
	margin-top: 2%;
}
.poster
{
	margin-top: 2%;
	display: flex;
	justify-content: left;
}
.description
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4%;
	font-size: 16px;
	text-align: justify;
}
img
{
	width: 20%;
	height: auto;
}
video
{
	margin-top: 2%;
	width: 60%;
	height: auto;
}
.trailer
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4%;
	margin-left: 16%;
	margin-top: 4%;
}
.screenshots
{
	display: flex;
	justify-content: center;
	gap: 2%;
	width: 80%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 8%;
	margin-left: 12%;
}
.screenshots img
{
	margin-top: 4%;
	width: 60%;
	height: auto;
}